<div class="body-container">
    <header class="header">
        <div class="navbar">
            <div class="navbar-left">
                <img src="assets/images/Twitch.png" class="logo" alt="Freelancehub Logo" />
                <h1 class="navbar-title">Freelancehub</h1>
            </div>
        </div>
    </header>

    <div class="container">
        <!-- Left Section -->
        <div class="left-section">
            <h2>Job Title:</h2>
            <p>{{ job?.jobTitle }}</p>
            <h3>Job Description:</h3>
            <p>{{ job?.jobDesc }}</p>
            <div class="client-card">
                <h3>Client Details</h3>
                <p><strong>Company:</strong> <span>{{ job?.clients?.companyName }}</span></p>
                <p><strong>Description:</strong><span> {{ job?.clients?.companyDescription }}</span></p>
                <p><strong>Representative Name:</strong> <span>{{ job?.clients?.repName }}</span></p>
                <p><strong>Designation:</strong><span> {{ job?.clients?.repDesignation }}</span></p>
            </div>
        </div>

        <!-- Right Section -->
        <div class="right-section">
            <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
                <!-- Sliders Section -->
                <div *ngFor="let slider of sliders" class="slider-container">
                    <label>{{ slider.label }}:</label>
                    <div class="custom-slider">
                        <input type="range" [formControlName]="slider.control" [min]="slider.min" [max]="slider.max"
                            (input)="updateSlider(slider.control)" />
                    </div>
                    <div class="slider-values">
                        <span class="min-value">{{ slider.min }}</span>
                        <span class="slider-value">{{ jobForm.value[slider.control] }}</span>
                        <span class="max-value">{{ slider.max }}</span>
                    </div>
                </div>

                <!-- Skills Matched -->
                <div class="skills-container">
                    <h4>Skills Analysis</h4>
                    <div class="circular-progress" [ngStyle]="{ background: circularProgressStyle }">
                        <div class="percentage">{{ matchedSkillsPercentage }}%</div>
                    </div>
                    <div class="skills-missing-container">
                        <h5>Missing Skills</h5>
                        <ul *ngIf="missingSkills.length; else noMissingSkills">
                            <li *ngFor="let skill of missingSkills">{{ skill }}</li>
                        </ul>
                        <ng-template #noMissingSkills>
                            <p>No missing skills. All matched!</p>
                        </ng-template>
                    </div>
                </div>

                <!-- Upload Section -->
                <div class="upload-container">
                    <label for="previousWorks">Upload Previous Works:</label>
                    <input type="text" [(ngModel)]="newLink" placeholder="Enter link and click Add"
                        name="previousWorkLink" [ngModelOptions]="{standalone: true}" />

                    <button type="button" (click)="addLink()">Add Link</button>

                    <div *ngIf="uploadedLinks.length > 0" class="uploadedFilesList">
                        <ul>
                            <li *ngFor="let link of uploadedLinks; index as i">
                                {{ link }}
                                <button type="button" (click)="removeLink(i)">x</button>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Submit Button -->
                <button type="submit" id="submitButton">Submit</button>
            </form>
        </div>
    </div>
</div>