<div class="body-container">
    <header class="navbar">
        <div class="navbar-left">
            <img src="assets/images/Twitch.png" class="logo" alt="Freelancehub Logo">
            <span class="navbar-title"><a routerLink="/landing" class="home">Freelancehub</a></span>
        </div>
    </header>
    <div class="form-container">
        <h1>Edit Client Details</h1>
        <form [formGroup]="editClientForm" (ngSubmit)="updateClient()">
            <div class="email">
                <p>Email</p>
                <span>
                    <input type="email" formControlName="compEmail" placeholder="E-mail *" required />
                </span>
            </div>
            <div class="companyname">
                <p>Company Name</p>
                <span>
                    <input type="text" formControlName="companyName" placeholder="Company Name *" required />
                </span>
            </div>
            <div class="projects">
                <p>Type of Project</p>
                <span>
                    <input type="text" formControlName="typeOfProject" placeholder="Types of projects involved *"
                        required />
                </span>
            </div>
            <div class="desc">
                <p>Company Description</p>
                <span>
                    <textarea formControlName="companyDescription" placeholder="Company Description *"
                        required></textarea>
                </span>
            </div>
            <div class="repname">
                <p>Representative Name</p>
                <span>
                    <input type="text" formControlName="repName" placeholder="Representative Name *" required />
                </span>
            </div>
            <div class="desig">
                <p>Representative Designation</p>
                <span>
                    <input type="text" formControlName="repDesignation" placeholder="Representative Designation *"
                        required />
                </span>
            </div>
            <div class="password">
                <p>Password</p>
                <span>
                    <input type="password" formControlName="password" placeholder="Password *" required />
                </span>
            </div>
            <div class="retype">
                <p>Re-type Password</p>
                <span>
                    <input type="password" formControlName="confirmPassword" placeholder="Re-type Password *"
                        required />
                </span>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
</div>