<div class="whole-container">
  <div class="header">
    <div class="navbar">
        <div class="navbar-left">
            <img src="assets/images/final_logo.png" class="logo" alt="" />
            <span class="navbar-title"><a routerLink="/landing" class="home">FreelanceHub<div class="tooltiptext">Home</div></a></span>
        </div>
    </div>
  </div>

  <div class="search-bar-container">
    <div class="heading">
        <h2>Scale up your work with our freelancers</h2>
    </div>
    <div class="search-bar">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search for any service" (input)="performSearch()"
            (keydown.enter)="performSearch()" />
        <button (click)="performSearch()">Search</button>
    </div>
  </div>

  <main>
    <section class="job-listings" [class.scrollable]="jobs.length > 2">
        <div *ngIf="jobs.length === 0">
            <p class="null-text">No jobs available to apply at the moment</p>
        </div>
        <div *ngFor="let job of jobs" class="job-card">
            <h2>{{ job.jobTitle }}</h2>
            <div class="content-box">
                <p><strong>Company:</strong> {{ job.clients.companyName }}</p>
                <p><strong>Max Duration:</strong> {{ job.durMax }} months</p>
                <p>
                    <strong>Average Wage:</strong>
                    {{ (job.costMin + job.costMax) / 2 | currency:'USD':'symbol':'1.2-2' }} /hour
                </p>
                <p><strong>Experience:</strong> {{ job.expMin }} years</p>
            </div>
            <a *ngIf="role === 'freelancer'" type="button" class="button-style" [routerLink]="['/apply']" [queryParams]="{ id: job.jobId }">
                Apply
            </a>
        </div>
    </section>
  </main>
</div>