<div class="whole-container">
<header class="navbar">
  <div class="navbar-left">
    <img src="assets/images/Twitch.png" class="logo" alt="Freelancehub Logo">
    <span class="navbar-title"><a routerLink="/landing" class="home">Freelancehub<div class="tooltiptext">Home</div></a></span>
  </div>
</header>

<div class="profile-section">
  <div class="profile-header">
    <div class="profile-pic">Profile Pic</div>
    <div class="company-details">
      <h2>{{ client?.companyName }}</h2>
      <p>{{ client?.companyDescription }}</p>
    </div>
    <button class="edit-btn">
      <a routerLink="/profile-client-edit" class="edit-button">Edit Profile</a>
    </button>
  </div>

  <div class="content">
    <div class="account-details">
      <h3>Account Details</h3>
      <p><strong>Representative Name:</strong> {{ client?.repName }}</p>
      <p><strong>Designation:</strong> {{ client?.repDesignation }}</p>
      <p><strong>Email:</strong> {{ client?.compEmail }}</p>
      <p><strong>Types of Projects:</strong> {{ client?.typeOfProject }}</p>
    </div>

    <div class="projects">
      <div class="active-projects">
        <h3>Active Projects</h3>
        <div *ngFor="let project of ongoingJobs" class="project-card">
          <p><strong>{{ project.jobId.jobTitle }}</strong></p>
          <p>Freelancer: {{ project.freeId.freeName }}</p>
          <p>Wage: {{ project.salary }}</p>
        </div>
      </div>

      <div class="completed-projects">
        <h3>Completed Projects</h3>
        <div *ngFor="let project of completedJobs" class="project-card">
          <p><strong>{{ project.jobId.jobTitle }}</strong></p>
          <p>Freelancer: {{ project.freeId.freeName }}</p>
          <p>Wage: {{ project.salary }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>