* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", serif;
    justify-content: center;
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background-color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.navbar-title {
    color: #232B50;
    font-size: 34px;
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
}

.form-title {
    color: #232B50;
    font-family: 'Mulish', sans-serif;
    justify-self: center;
    align-self: center;
    margin-bottom: 15px;

}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg, rgba(21, 201, 180, 0.5) 0%, rgba(21, 201, 180, 0.45) 30%, rgba(32, 232, 160, 0.45) 70%, rgba(32, 232, 160, 0.5) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transform: perspective(1000px) rotateX(2deg) rotateY(2deg);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 80px; /* To avoid navbar overlap */
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 0.9em;
}

textarea {
    height: 60px;
    resize: none;
}

.checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 10px;
    justify-content: flex-end;
    color: #666;
}

.checkbox-container label {
    font-size: 13px;
}

.checkbox-container input {
    margin-left: 8px; /* Align checkbox to the left side */
    width: 18px;
    margin-bottom:0px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #ffffff;
    background: #232B50;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #1e2a3e;
}

.notification {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

.notification.success {
    background-color: #4caf50;
    color: white;
}

.notification.error {
    background-color: #f44336;
    color: white;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-left: 11px;
    margin-bottom: 8px;
    display: block;
}
