<header class="navbar">
  <div class="navbar-left">
      <img src="assets/images/final_logo.png" alt="Logo" class="logo" />
      <span class="navbar-title"><a routerLink="/landing" class="home">FreelanceHub<div class="tooltiptext">Home</div></a></span>
  </div>
</header>
<div class="wallet-container">
    
  
  <div class="payment-header">
    <h1>Payments <span>Dashboard</span></h1>
  </div>
  
    <div *ngIf="userRole === 'client'">
      <h3>You current balance is:</h3>
      <div>
        <p>Wallet Balance: {{ clientWalletBalance | currency }}</p>
        <button (click)="openAddCreditsModal()">Add Credits</button>
      </div>
  
      <div *ngIf="showAddCreditsModal" class="modal">
        <div class="modal-content">
          <h4>Add Credits</h4>
          <input type="number" [(ngModel)]="creditsToAdd" placeholder="Enter amount" />
          <button (click)="addCredits()">Add</button>
          <button (click)="closeAddCreditsModal()">Cancel</button>
        </div>
      </div>
  

      <div style="display: flex; justify-content: space-between; gap: 20px;">
      <div *ngIf="monthlySpendingData?.datasets" style="flex: 1;">
        <h4>Monthly Spending</h4>
        <canvas baseChart
                [data]="monthlySpendingData"
                [labels]="monthlySpendingLabels"
                [type]="'pie'">
        </canvas>
      </div>

      <div style="flex: 1;width: 500px; height: 300px;">
        <h4>Weekly Transactions</h4>
        <canvas class="line-chart"
          baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="'line'">
        </canvas>
      </div>
      </div>

      <div>
        <h4 class="trans-header">Transaction History</h4>
        <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Transaction ID</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Timestamp</th>
              <th>Type</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of clientTransactions">
              <td>{{ transaction.transactionId }}</td>
              <td>{{ transaction.amount | currency }}</td>
              <td>{{ transaction.description }}</td>
              <td>{{ transaction.timestamp }}</td>
              <td>{{ transaction.type }}</td>
              <td>{{ transaction.status }}</td>
            </tr>
          </tbody>
        </table>
        </div>

      </div>
    </div>
  
    <div *ngIf="userRole === 'freelancer'">
      <h3>You current balance is:</h3>
      <div>
        <p>Wallet Balance: {{ freelancerWalletBalance | currency }}</p>
        <button (click)="openWithdrawModal()">Request Withdrawal</button>
      </div>
  
      <div *ngIf="showWithdrawModal" class="modal">
        <div class="modal-content">
          <h4>Request Withdrawal</h4>
          <input type="number" [(ngModel)]="withdrawAmount" placeholder="Enter amount" />
          <button (click)="requestWithdrawal()">Request</button>
          <button (click)="closeWithdrawModal()">Cancel</button>
        </div>
      </div>

      <div style="display: flex; justify-content: space-between; gap: 20px;">
        <div *ngIf="monthlyEarningData?.datasets" style="flex: 1;">
          <h4>Monthly Earnings</h4>
          <canvas baseChart
                  [data]="monthlyEarningData"
                  [labels]="monthlyEarningData"
                  [type]="'pie'">
          </canvas>
        </div>

        
        <div style="flex: 1;">
          <h4>Weekly Transaction Volume</h4>
          <canvas class="line-chart"
                  baseChart
                  [data]="lineChartData"
                  [options]="lineChartOptions"
                  [type]="'line'">
          </canvas>
        </div>

      </div>

      <div>
        <h4>Transaction History</h4>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Transaction ID</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of freelancerTransactions">
                <td>{{ transaction.transactionId }}</td>
                <td>{{ transaction.amount | currency }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.timestamp }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>