<div class="title">
<header class="navbar">
    <div class="navbar-left">
        <div class="header">
            <img src="assets/images/final_logo.png" class="logo" alt="">
        </div>
        <h1 class="navbar-title">FreelanceHub</h1>
    </div>
</header>
</div>

<div class="body-container">
    <div class="container">
        <div class="loginm">
            <h1 class="login-title">Log <span class="highlight">In</span></h1>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="login-container">
                    <!-- Email Field -->
                    <input type="email" formControlName="email" placeholder="E-Mail *" class="input-field" id="email">
                    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
                        class="error-message">
                        <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
                        <span *ngIf="loginForm.get('email')?.errors?.['invalidEmail']">Enter a valid email.</span>
                    </div>

                    <!-- Password Field -->
                    <input type="password" formControlName="password" placeholder="Password *" class="input-field">
                    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
                        class="error-message">
                        <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
                        <!-- <span *ngIf="loginForm.get('password')?.errors?.['pattern']">
                            Password must contain at least one letter, one number, and one special character.
                        </span> -->
                    </div>
        <a href="#" (click)="openResetPopup($event)" class="forgot-password-link">Forgot Password?</a>
        
        <!-- Reset Password Popup -->
        <div id="resetPasswordPopup" class="popup" style="display: none;">
            <div class="popup-content">
                <span class="close-btn" (click)="closeResetPopup()">X</span>
                <h3>Reset Password</h3>
                <input type="email" id="resetEmail" class="popup-input" placeholder="Enter your email" required />
                <button type="button" class="popup-button" (click)="sendResetLink()">Send Reset Link</button>
            </div>
        </div>

                    <!-- Submit Button -->
                    <button class="continue-button" type="submit" [disabled]="loginForm.invalid">Continue</button>
                </div>
            </form>
            <p class="signup-text">Don’t have an account? <a routerLink="/signup/selection">Sign Up</a></p>
        </div>
    </div>
</div>